/a/exercise01/backend/node_modules
/a/exercise01/frontend/node_modules
/a/exercise01/backend/.env
/a/4.1_4.2/backend/node_modules
/a/4.1_4.2/frontend/node_modules
/a/4.1_4.2/backend/.env
/a/exercise02/frontend/node_modules
/a/exercise02/backend/node_modules
/a/exercise02/backend/.env
/a/4.3_4.7/frontend/node_modules
/a/4.3_4.7/backend/node_modules
/a/4.3_4.7/backend/.env 
